<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/bootstrap.min.js}"></script>
<title>Login</title>
</head>
<body class="text-center">
	<form method="post" action="/login">
		<label>User ID</label>
		<input type="text" /><br />
		<label>Password</label>
		<input type="password" /><br />
		<button class="btn btn-primary" type="submit">Login!</button>
	</form>
	<a th:href="@{'/sigunup'}">Register Account</a>
</body>
</html>